<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="MethAnnot">
	<title>MethAnnot</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fontastic.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
	<script src="https://kit.fontawesome.com/2f1c05e777.js" crossorigin="anonymous"></script>
</head>


<body>
	<div class="vertical-nav" id="sidebar">
		<form action="" method="POST" enctype="multipart/form-data">
			<div class="sidebar-header">
				<h1>MethAnnot</h1>
				<h3>Visualizing DNA methylation sequencing data</h3>
			</div>
			<div class="user-input">
				<section class="shift-all">
					<p>
						<strong>Select a sample</strong>
						<i class="question-mark fa fa-question-circle" data-toggle="tooltip" title="Add the entire directory created by the SampleAnalysis tool. This directory should contain 48 files (for each chromosome: one containing the beta-values of the sample and another containing the index of the data"></i>
					</p>
					<input class="f-input" type="file" name="file" webkitdirectory mutliple/>
					<input type="submit" value="add sample" class="query-but"/>
				</section>
				<section>
					{% if samples|length > 0 %}
						<ul class="list-unstyled components">
							<li>
								<a href="#samplesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Imported samples</a>
								<ul class="collapse list-unstyled" id="samplesSubmenu">
									{% for sample in samples %}
										<li class="drop_item">
											<button class="btn btn-danger btn-circle btn-circle-sm m-1" name="del_{{sample}}" type="submit"><i class="fa fa-trash-o"></i></button>
											{{sample}}
											<div class="onoffswitch ml-4">
												{% if col_sample[sample] == '#00f' %}
													<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch_{{sample}}" checked>
												{% else %}
													<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch_{{sample}}">
												{% endif %}
												<label class="onoffswitch-label" for="myonoffswitch_{{sample}}">
													<span class="onoffswitch-inner"></span>
													<span class="onoffswitch-switch"></span>
												</label>
											</div>
										</li>
									{% endfor %}
								</ul>
							</li>
						</ul>
					{% endif %}
				</section>
				<section class="shift-all">
					<p>
						<strong>Select a region</strong>
						<i class="question-mark fa fa-question-circle" data-toggle="tooltip" title="The region should be entered as a text input (chr{chromosome}:{start}-{end}. Example: chr8-60,000,000-61,000,000). The commas are not mandatory."></i>
					</p>
					<input type="text" name="region-input" autofocus placeholder="Region" value="{{region}}" class="{{error_region}}" id="region-input">
					{% if region_mes|length > 0 %}
						<p>{{region_mes}}</p>
					{% endif %}
				</section>
				<section class="shift-all">
					<p>
						<strong>Shift region by (bp)</strong>
						<i class="question-mark fa fa-question-circle" data-toggle="tooltip" title="Enter the number of bp to shift and click on an arrow"></i>
					</p>
					<div>
						<a href="#" class="shift round" id="shift-left">&#8249;</a>
						<input type="number" name="region-change" autofocus placeholder="Number bp" class="shift-input" step=1000 value=1000 id="region-shift">
						<a href="#" class="shift round" id="shift-right">&#8250;</a>
					</div>
				</section>
				<section class="shift-all">
					<input type="hidden" name="_method" value="plot">
					<input type="submit" value="plot" class="button-plot">
				</section>
			</div>
		</form>
	</div>
	<div class="page-content" id="content">
		<header class="header">
			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-holder d-flex justify-content-between">
						<div class="navbar-header">
							<a id="toggle-btn" href="#" class="menu-btn">
								<i class="fa fa-bars mr-2"></i>
							</a>
						</div>
						<ul class="nav">
							<li class="nav-item active">
								<a class="nav-link active" href="">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="https://github.com/nicolasloucheu/MethAnnot" target="_blank">Code</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/about">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/contact">Contact</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>

		{% if ready_to_plot %}
			<!-- Dashboard dropdowns Section-->
			<section class="dashboard-drops no-padding-bottom">
				<div class="container-fluid">
					<div class="row bg-dark has-shadow">
						<div class="col-lg-12">
							<div class="item align-items-center">
								<div class="title" id="region-show"><span>REGION: {{region}}</span></div>
							</div>
						</div>
					</div>
					
					<div class="row bg-dark has-shadow">
						<!-- Item -->
						<div class="col-lg-3">
							<div class="item align-items-center">
								<div class="title"><span>Transcription Factors</span></div>
								<div>
									<form action="" method="GET" role="form">
										{% if TF_options|length > 0 %}
											<select id="TF_drop" class="selectpicker" multiple data-live-search="true" multiple data-selected-text-format="count > 3">
												{% for TF in TF_options %}
													<option>{{TF}}</option>
												{% endfor %}
											</select>
										{% else %}
											<select name="TF_drop" class="selectpicker" disabled>
											</select>
										{% endif %}
									</form>
								</div>
							</div>
						</div>
						<!-- Item -->
						<div class="col-lg-3">
							<div class="item align-items-center">
								<div class="title"><span>CpG Annotations</span></div>
								<div>
									{% if cpg_options|length > 0 %}
										<select id="cpg_annots" class="selectpicker" multiple data-live-search="true" multiple data-selected-text-format="count > 2">
											{% for cpg in cpg_options %}
												<option>{{cpg}}</option>
											{% endfor %}
										</select>
									{% else %}
										<select name="cpg_annots" class="selectpicker" disabled>
										</select>
									{% endif %}
								</div>
							</div>
						</div>
						<!-- Item -->
						<div class="col-lg-3">
							<div class="item align-items-center">
								<div class="title"><span>Chromatin State</span></div>
								<div>
									{% if hmm_options|length > 0 %}
									<select id="chromhmm" class="selectpicker" multiple data-live-search="true" multiple data-selected-text-format="count > 1">
										{% for hmm in hmm_options %}
											<option>{{hmm}}</option>
										{% endfor %}
									</select>
									{% else %}
										<select name="chromhmm" class="selectpicker" disabled>
										</select>
									{% endif %}
								</div>
							</div>
						</div>
						<!-- Item -->
						<div class="col-lg-3">
							<div class="item align-items-center">
								<div class="checkbox">
									<div class="title enh-title">
										{% if enh_dis %}
											<label><input type="checkbox" value="" disabled='true' class="enhancers"> Enhancers</label>
										{% else %}
											<label><input type="checkbox" value="" class="enhancers"> Enhancers</label>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row bg-dark has-shadow">
						<div class="col-lg-12">
							<div class="item align-items-center">
								<input type="hidden" name="_method" value="plot">
								<input type="submit" value="update graph" class="query-but" id="update-btn">
							</div>
						</div>
					</div>
				</div>
				<div class="row mx-3 mt-4">
					<div class="col-lg-12">
						<div class="plottin">
							<div class="plottin-header">
								<h2 class="h6 text-uppercase mb-0">methylation beta-values for the region selected</h2>
							</div>
							<div class="plottin-body">
								<div class="plottin-plot", id="chart">
								</div>
							</div>
						</div>
					</div>
				</div>
				{% for top_z_df in top_z %}
					<div class="row mx-3 mt-4">
						<div class="col-lg-12">
							<div class="plottin">
								<div class="plottin-header">
									<span>Greatest z-scores for sample: {{top_z_df.columns[0]}}. Mean = {{mean_lst[top_z_df.columns[0]]}}</span>
								</div>
								<div class="plottin-body-not">
										<select id="top_{{top_z_df.columns[0]}}" class="top_z">
											<option selected disabled>Choose one</option>
											{% for i in range(top_z_df|length) %}
												<option>CHR: {{top_z_df.iloc[i].to_list()[1]}} - Position: {{top_z_df.iloc[i].to_list()[2]}}({{top_z_df.iloc[i].name}}) - Z-score: {{top_z_df.iloc[i].to_list()[0]}}</option>
											{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</section>

		{% else %}

			<section>
				<div class="row mx-3 mt-4">
					<div class="col-lg-12">
						<div class="plottin">
							<div class="plottin-header">
								<h2 class="h6 text-uppercase mb-0">DNA methylation annotations visualization tool</h2>
							</div>
							<div class="plottin-body-not" >The samples files have to be made by the SampleAnalysis tool. This tool accepts raw data from Illumina Infinium sequencing platforms and outputs a QC report, as well as some graphs comparing the data with control samples. All the information about that tool can be accessed <a href="#" target="_blank">here</a> (I'll update with a link to the tool). </div>
							<div class="plottin-body-not" >This tool has been made to visualize the DNA methylation data sequenced by Illumina Infinium platforms. You can see informations like beta-values from controls, transcription factor binding sites, CpG situations (islands, shores, shelves, inter-islands), chromatin conformation or enhancers locations.</div>
							<br>
						</div>
					</div>
				</div>
			</section>
		{% endif %}
	</div>



	
	
	<!-- JS Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	

	<!-- Plotly JS -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.1/d3.min.js"></script>
	<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	<!-- Own js script -->
	
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<!-- 	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script> -->
	<script type="text/javascript">
		var graphs = {{plotly_plot | safe}};
		var len_drops = 750 + graphs.config.len_drops*500
		var config = {
			responsive: true,
			showTips: false,
			modeBarButtons: [
				[
					'toImage',
				],
				[
					'zoomIn2d',
					'zoomOut2d',
				],
				[
					{
						name: 'myResetScale2d',
						title: 'Reset axes',
						icon: Plotly.Icons.home,
						click: function(gd) {
							Plotly.relayout(gd, 'xaxis.range', [graphs.config.start, graphs.config.end])
						}
					}	
				]
			],
			toImageButtonOptions: {width: 1920, height: len_drops}
		}
		Plotly.newPlot(chart, graphs.data, graphs.layout, config)
	</script>
	
	
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>


</html>